<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account"><!-- 패키지같은느낌 -->
	
	<insert id="addAccount" parameterType="java.util.HashMap">
		insert into account values(#{email}, #{id}, #{subid}, #{pass}, #{name}, #{birth}, #{gender}, #{interest} )
	</insert>
	
	
	<select id="login" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from account where email=#{email} and pass=#{pass} 
	</select>
	
	
	
</mapper>
