<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account"><!-- 패키지같은느낌 -->
	
	<insert id="addAccount" parameterType="java.util.HashMap">
		insert into account values(#{email}, #{id},'하이', #{pass}, #{name}, to_date(#{birth},'yyyy-mm-dd'), #{gender}, #{interest} )
	</insert>
	
	<select id="login" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from account where id=#{id} and pass=#{pass} 
	</select>
<!-- 	
	<select id="login" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from account where email=#{email}
			<if test="title != null">
				AND title like #{id}
			</if>
			<if test="title != null">
				AND title like #{pass}
			</if>
	</select>
	 -->
	<update id="changePass" parameterType="java.util.HashMap">
		update account set pass=#{npass} where id=#{id}	
	</update>
	
	<select id="loginCheck" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from account where id=#{id}
	</select>
	
</mapper>
