@charset "UTF-8";

.center-box {
    position: absolute;   
    width: 70%;
    height: 440px;
    top: 190px;               
    bottom: 0;            
    left: 0;              
    right: 0;             
    margin: auto;  
    align-content: center;
}