<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sns_project</display-name>
  <welcome-file-list>
  	<welcome-file>index.do</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>sns.listener.ApplicationHandler</listener-class>
  </listener>
  <!-- filter -->
  <filter>
  	<filter-name>sns</filter-name>
  	<filter-class>sns.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>sns</filter-name>
  	<!-- 필터 파라미터 하나까지만 가능 -->

  	<url-pattern>/board/like.do</url-pattern>
  	<url-pattern>/board/likelist.do</url-pattern>
  	<!-- <url-pattern>/board/board_search.do</url-pattern> -->
  	<url-pattern>/board/reply.do</url-pattern>
  	<url-pattern>/board/delete_reply.do</url-pattern>
  	<url-pattern>/board/map.do</url-pattern>
  	
  	
  	<url-pattern>/mypage.do</url-pattern>
  	<url-pattern>/chat/*</url-pattern>
  	<url-pattern>/newsfeed.do</url-pattern>
  	<!-- <url-pattern>/interest.do</url-pattern> -->
 <!--  	<url-pattern>/account.do</url-pattern> -->
  	
  </filter-mapping>
  <session-config>
  <session-timeout>60</session-timeout>
  </session-config>
  
  <!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>